- @sub_forms = ["p1", "p2", "p3"]

= render :partial => "master"
- @sub_forms.each_with_index do |sf, idx|
	= render :partial => sf, :locals => {:current_form => sf, :next_form => @sub_forms[idx+1].nil? ? 'last' : @sub_forms[idx+1]}
	- if idx != 0
		= javascript_tag "$('##{sf}').hide();"
	=javascript_tag"$('.master_form').hide();" 
	
	
:javascript
	function form2form(formA, formB) {$(':input[name]', formA).each(function() { $('[name=' + $(this).attr('name') +']', formB).val($(this).val())})};
	function copy_form(src, next) {
		var form = v2.Form.get( src.attr('id') );
		if ( form.test("validate") ) {
		 	form2form( src, $('#master_form') );
			if ( next == "last" ) {
				$('#master_form').submit();
			} else {
				src.hide();
				next.show();
			}; 
		};
		return false;
	};
