= error_message_on object.class.name.downcase.to_sym, :base
%div{:class => master_form, :style => 'display:none'}
	- semantic_form_for(object, :html => {:id => "#{master_form}"}) do |f|
		- @person.attributes.each do |key,value|
			= f.text_field key.to_sym
		= f.submit "Submit"