= javascript_for_validatious
- segmented_form_for @person, :id => current_form do |f|
	%p
	- f.inputs do
		= f.input :first_name, :label => 'First name'
		= f.input :last_name, :label => 'Last name'
		= f.pseudo_buttons current_form, last_form, next_form