= javascript_for_validatious
- semantic_form_for @person, :html => {:class => 'validate', :id => current_form } do |f|
	%p
	- f.inputs do
		= f.input :comments, :label => 'Comments'
		= button_strip f, current_form, last_form, next_form
